{% extends "layout.html" %}

{% block title %}
Success
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Resto de tus etiquetas meta y estilos CSS -->
</head>
<body>
    <div id="container">
        <!-- Mensaje de bienvenida y nombre de usuario -->
        <h1> Biometric Login</h1>
        {% if 'user_id' in session %}
            <p>Hola {{ session['user_id'] }}</p>
            {% if similarity_message %}
                <p>{{ similarity_message }}</p>
            {% endif %}
            {% if similarity_percentage is defined %}
                <p>Porcentaje de similitud: {{ similarity_percentage }}%</p>
            {% endif %}
        {% else %}
            <p>No se ha iniciado sesión, la voz no coincide.</p>
        {% endif %}
        <!-- Resto del contenido de success.html -->
    </div>
</body>
</html>
{% endblock %}
